<html>
    <head>
        <script src="/socket/socket.io.js"></script>
        <script src="{{url_for('static', filename='js/socket.js')}}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
        <link rel="shortcut icon" href="{{ url_for('favicon', filename='favicon.ico') }}">
        {% block head %}
        {% endblock %}
    </head>
    {% block body %}
    NO CONTENT
    {% endblock %}
</html>