{% extends 'base.html' %}

{% block content %}
<div id="content">
    <button onClick="getGameData();">Update</button><br>
    <button onClick="startGame();getGameData();">Start Game</button><br>
    <button onClick="startHackers()">Start Hackers' Night</button><br>
    <button onClick="startWhitehats()">Start White Hats' Night</button><br>
    <button onClick="startInvestigators()">Start Investigator's Night</button><br>
    
    <button onClick="startCivilians()">Start Day</button><br>
    <pre id="output"></pre>

    <input type="text" id="message">
    <button onClick="messagePlayers()">Send to Players</button><br>
    <button onClick="messageHackers()">Send to Hackers</button><br>
    <button onClick="messageWhitehats()">Send to White Hats</button><br>
    <button onClick="messageInvestigators()">Send to Investigators</button><br>
</div>
{% endblock %}