{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/game.css')}}">
{% endblock %}

{% block content %}
<div id="playerData">
    Name: <span id="playerName"></span><br>
    Alias: <span id="playerAlias"></span><br>
    Role: <span id="playerRole"></span><br>
    Status: <span id="playerStatus"></span><br>
</div>
<div id="chatbox">
    <div id = "output"></div>
</div>

<div id="inputField">
    <input type="text" id="message">
</div>

<div id="banner">
    ORION 2021
</div>

<script defer>
    socket.emit("getPlayerData");
    socket.emit("joinGameRoom");

    document.getElementById("message").addEventListener("keyup", function(event) {
    // Number 13 is the "Enter" key on the keyboard
    if (event.key === "Enter") {
        // Cancel the default action, if needed
        event.preventDefault();
        
        sendMessage();
        getGameData();
        }

    });

    function loopPlayerData(){
        socket.emit("getPlayerData");
        setTimeout(loopPlayerData, 1000);
    }

    loopPlayerData();
</script>

{% endblock %}