{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/game.css')}}">
{% endblock %}


{% block body %}
<body>
    <video autoplay muted loop id="background">
        <source src="{{url_for('static', filename='gamescreen.m4v')}}" type="video/mp4">
    </video>

    <div id="content">
        <div class="playerInfo">
            <img src="{{url_for('static', filename='usericon.png')}}">
            
            <span>
            Name: name<br>
            Alias: alias<br>
            Role: role<br>
            Status: status<br>
            </span>
        </div>

        <div class="output" id="output">
            <!-- Messages look like these -->
            <!-- 

            <b>Sender@testgame: </b> Message<br>
            <b>Sender@testgame: </b> Message<br> 

            -->

        </div>
        <!-- End of output -->

        <div class="input">
            <input type="text" id="input" placeholder="Type /h for more information">
        </div>
        
    </div>
    <script defer>
        var input = document.getElementById("input");

        input.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                sendMessage(input.value);
                input.value = "";
            }
        });
        inGameRoom();
    </script>
</body>
{% endblock %}