{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/joinscreen.css')}}">
{% endblock %}

{% block body %}

<body>
    <video autoplay muted loop id="background">
        <source src="{{url_for('static', filename='joinscreen.mp4')}}" type="video/mp4">
    </video>

    <div id="content">
        <div id="title">
            <h1>Hacker</h1>
            <h1>Hacker</h1>
            <h1>Hacker</h1>
        </div>
        <h2>StrITwise 2021: Edge of Automation</h2>

        <form method="POST" action="/joingame">
            <input type="text" name="name" id="name" placeholder="Enter a username"><br>
            <input type="text" name="gamecode" id="gamecode" placeholder="Enter a game code" value="oriontestgame"><br>
            <button type="submit">Join</button>
        </form>
    </div>
</body>

{% endblock %}