{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/waitingscreen.css')}}">
<script defer>
    socket.emit("joinGameRoom");
</script>
{% endblock %}

{% block content %}
<div id="banner">Waiting for game to start</div>
<div id="players">Players:<br></div>

<script defer>
    socket.on("newPlayer", function(players){
        document.getElementById("players").innerText = "Players:\n";

        for (playerName in players){
            document.getElementById("players").innerText += playerName + "\n";
        }
    });

</script>
{% endblock %}